In [22]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np
import re

In [23]:
df = pd.read_csv('test.csv')
dft = pd.read_csv('todascenario2_0_20.csv')

In [24]:
df

,full_name,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city,ID
0,2017 Hyundai Grand i10 1.2 Kappa Sportz Option,Jun 2017,1197 cc,Comprehensive,Manual,"53,658 Kms",First Owner,Petrol,81.86bhp,5.0,18.9 kmpl,Hatchback,Mumbai,0
1,2020 Maruti Swift AMT VXI,Feb 2021,1197 cc,Not Available,Automatic,"33,055 Kms",Second Owner,Petrol,81.80bhp,5.0,21.21 kmpl,Hatchback,Jaipur,1
2,2010 Maruti Zen Estilo LX BSIII,Jul 2010,998 cc,Third Party,Manual,"90,385 Kms",Third Owner,Petrol,67.1bhp,5.0,18.2 kmpl,Hatchback,Chandigarh,2
3,2010 Maruti Alto LXi,2010,796 cc,Third Party insurance,Manual,"1,10,000 Kms",First Owner,Petrol,46.3bhp,5.0,19.7 kmpl,Hatchback,Delhi,3
4,2018 Hyundai i20 Active S Petrol,Oct 2018,1197 cc,Comprehensive,Manual,"58,000 Kms",Second Owner,Petrol,81.86bhp,5.0,17.19 kmpl,Hatchback,Delhi,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3485,2022 Tata Tigor EV XZ Plus,2022,NaN,Third Party insurance,Automatic,"30,000 Kms",First Owner,Electric,73.75bhp,5.0,NaN,Sedan,Pune,3485
3486,2017 Renault KWID 1.0 RXT,Apr 2017,999 cc,Third Party insurance,Manual,"64,024 Kms",First Owner,Petrol,67bhp,5.0,23.01 kmpl,Hatchback,Bangalore,3486
3487,2017 Honda City i VTEC VX,Dec 2017,1497 cc,Comprehensive,Manual,"39,000 Kms",First Owner,Petrol,117.3bhp,5.0,17.8 kmpl,Sedan,Delhi,3487
3488,2016 Honda Jazz 1.2 V i VTEC,Jun 2016,1199 cc,Comprehensive,Manual,"33,000 Kms",First Owner,Petrol,88.7bhp,5.0,18.7 kmpl,Hatchback,Mumbai,3488
3489,2017 Maruti Swift VXI,Mar 2017,1197 cc,Comprehensive,Manual,"14,097 Kms",Second Owner,Petrol,88.50bhp,5.0,22.38 kmpl,Hatchback,Delhi,3489

In [25]:
import pandas as pd



# Ver as colunas de cada DataFrame
print("Colunas do DataFrame 'df':")
print(df.columns)

print("\nColunas do DataFrame 'dft':")
print(dft.columns)

Colunas do DataFrame 'df':
Index(['full_name', 'registered_year', 'engine_capacity', 'insurance',
       'transmission_type', 'kms_driven', 'owner_type', 'fuel_type',
       'max_power', 'seats', 'mileage', 'body_type', 'city', 'ID'],
      dtype='object')

Colunas do DataFrame 'dft':
Index(['id_transmissao', 'transmission_type', 'body_type', 'id_body_type',
       'modelo', 'id_modelos', 'marca', 'id_categoria_marca', 'ano',
       'max_power', 'max_power_group', 'id_max_power_group',
       'resale_price_Lakh'],
      dtype='object')

In [26]:
# MAX POWER 
# #convert to bhp__________________________________________________
Correct_Max_Power = []
for power in df['max_power']:
    if pd.notna(power):
        if isinstance(power, str):
            if 'bhp' in power:
                num_bhp = float(re.search(r'\d+.?\d', power).group())
                Correct_Max_Power.append(num_bhp)
            elif 'PS' in power:
                num_ps = float(re.search(r'\d+.?\d', power).group())
                num_bhp = round(num_ps * 0.98632, 2)
                Correct_Max_Power.append(num_bhp)
            else:
                num = re.search(r'\d+\.?\d*', power)
                Correct_Max_Power.append(float(num.group()) if num else None)
        else:
            Correct_Max_Power.append(power)
    else:
        Correct_Max_Power.append(None)


# Convert not NaN to float
Correct_Max_Power = [float(value) if value is not None else value for value in Correct_Max_Power]

df['max_power'] = Correct_Max_Power

#Create grupos

# groups max_power


limites = [0, 100, 200, 300, 400, 500, 600]  
rotulos = ['0-100 bhp', '100-200 bhp', '200-300 bhp', '300-400 bhp', '400-500 bhp', '500-600 bhp']

df['max_power_group'] = pd.cut(df['max_power'], bins=limites, labels=rotulos, right=False)

In [27]:
# Criar um dicionÃ¡rio de mapeamento de 'max_power_group' para 'id_max_power_group' em dft
mapeamento_max_power_group = dict(zip(dft['max_power_group'], dft['id_max_power_group']))

# Criar uma nova coluna 'id_max_power_group' em df com base na correspondÃªncia de 'max_power_group' em dft
df['id_max_power_group'] = df['max_power_group'].map(mapeamento_max_power_group)

In [28]:
df

,full_name,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city,ID,max_power_group,id_max_power_group
0,2017 Hyundai Grand i10 1.2 Kappa Sportz Option,Jun 2017,1197 cc,Comprehensive,Manual,"53,658 Kms",First Owner,Petrol,81.8,5.0,18.9 kmpl,Hatchback,Mumbai,0,0-100 bhp,0.206644
1,2020 Maruti Swift AMT VXI,Feb 2021,1197 cc,Not Available,Automatic,"33,055 Kms",Second Owner,Petrol,81.8,5.0,21.21 kmpl,Hatchback,Jaipur,1,0-100 bhp,0.206644
2,2010 Maruti Zen Estilo LX BSIII,Jul 2010,998 cc,Third Party,Manual,"90,385 Kms",Third Owner,Petrol,67.1,5.0,18.2 kmpl,Hatchback,Chandigarh,2,0-100 bhp,0.206644
3,2010 Maruti Alto LXi,2010,796 cc,Third Party insurance,Manual,"1,10,000 Kms",First Owner,Petrol,46.3,5.0,19.7 kmpl,Hatchback,Delhi,3,0-100 bhp,0.206644
4,2018 Hyundai i20 Active S Petrol,Oct 2018,1197 cc,Comprehensive,Manual,"58,000 Kms",Second Owner,Petrol,81.8,5.0,17.19 kmpl,Hatchback,Delhi,4,0-100 bhp,0.206644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3485,2022 Tata Tigor EV XZ Plus,2022,NaN,Third Party insurance,Automatic,"30,000 Kms",First Owner,Electric,73.7,5.0,NaN,Sedan,Pune,3485,0-100 bhp,0.206644
3486,2017 Renault KWID 1.0 RXT,Apr 2017,999 cc,Third Party insurance,Manual,"64,024 Kms",First Owner,Petrol,67.0,5.0,23.01 kmpl,Hatchback,Bangalore,3486,0-100 bhp,0.206644
3487,2017 Honda City i VTEC VX,Dec 2017,1497 cc,Comprehensive,Manual,"39,000 Kms",First Owner,Petrol,117.3,5.0,17.8 kmpl,Sedan,Delhi,3487,100-200 bhp,0.446040
3488,2016 Honda Jazz 1.2 V i VTEC,Jun 2016,1199 cc,Comprehensive,Manual,"33,000 Kms",First Owner,Petrol,88.7,5.0,18.7 kmpl,Hatchback,Mumbai,3488,0-100 bhp,0.206644
3489,2017 Maruti Swift VXI,Mar 2017,1197 cc,Comprehensive,Manual,"14,097 Kms",Second Owner,Petrol,88.5,5.0,22.38 kmpl,Hatchback,Delhi,3489,0-100 bhp,0.206644

In [29]:
df['max_power_group'] = df['max_power_group'].astype('string')

print(df.dtypes)

full_name                     object
registered_year               object
engine_capacity               object
insurance                     object
transmission_type             object
kms_driven                    object
owner_type                    object
fuel_type                     object
max_power                    float64
seats                        float64
mileage                       object
body_type                     object
city                          object
ID                             int64
max_power_group       string[python]
id_max_power_group           float64
dtype: object

In [31]:
#soluÃ§oes id_maxpower

import pandas as pd

def adicionar_0_1_maior_valormax(df, dft):
    # Encontrar o maior valor na coluna 'id_categoria_marca' em dft
    maior_valor_id_max_power_dft = dft['id_max_power_group'].max()

    # Adicionar 0.1 ao maior valor encontrado
    novo_valor = maior_valor_id_max_power_dft + 0.1

    # Substituir os valores NaN na coluna 'id_categoria_marca' em df pelo novo valor
    df['id_max_power_group'].fillna(novo_valor, inplace=True)

# UtilizaÃ§Ã£o da funÃ§Ã£o com os DataFrames 'df' e 'dft'
adicionar_0_1_maior_valormax(df, dft)

# Visualizar o DataFrame 'df' atualizado
print(df)

                                           full_name registered_year  \
0     2017 Hyundai Grand i10 1.2 Kappa Sportz Option        Jun 2017
1                          2020 Maruti Swift AMT VXI        Feb 2021
2                    2010 Maruti Zen Estilo LX BSIII        Jul 2010
3                               2010 Maruti Alto LXi            2010
4                   2018 Hyundai i20 Active S Petrol        Oct 2018
...                                              ...             ...
3485                      2022 Tata Tigor EV XZ Plus            2022
3486                       2017 Renault KWID 1.0 RXT        Apr 2017
3487                       2017 Honda City i VTEC VX        Dec 2017
3488                    2016 Honda Jazz 1.2 V i VTEC        Jun 2016
3489                           2017 Maruti Swift VXI        Mar 2017

     engine_capacity              insurance transmission_type    kms_driven  \
0            1197 cc          Comprehensive            Manual    53,658 Kms
1            1197 cc          Not Available         Automatic    33,055 Kms
2             998 cc            Third Party            Manual    90,385 Kms
3             796 cc  Third Party insurance            Manual  1,10,000 Kms
4            1197 cc          Comprehensive            Manual    58,000 Kms
...              ...                    ...               ...           ...
3485             NaN  Third Party insurance         Automatic    30,000 Kms
3486          999 cc  Third Party insurance            Manual    64,024 Kms
3487         1497 cc          Comprehensive            Manual    39,000 Kms
3488         1199 cc          Comprehensive            Manual    33,000 Kms
3489         1197 cc          Comprehensive            Manual    14,097 Kms

        owner_type fuel_type  max_power  seats     mileage  body_type  \
0      First Owner    Petrol       81.8    5.0   18.9 kmpl  Hatchback
1     Second Owner    Petrol       81.8    5.0  21.21 kmpl  Hatchback
2      Third Owner    Petrol       67.1    5.0   18.2 kmpl  Hatchback
3      First Owner    Petrol       46.3    5.0   19.7 kmpl  Hatchback
4     Second Owner    Petrol       81.8    5.0  17.19 kmpl  Hatchback
...            ...       ...        ...    ...         ...        ...
3485   First Owner  Electric       73.7    5.0         NaN      Sedan
3486   First Owner    Petrol       67.0    5.0  23.01 kmpl  Hatchback
3487   First Owner    Petrol      117.3    5.0   17.8 kmpl      Sedan
3488   First Owner    Petrol       88.7    5.0   18.7 kmpl  Hatchback
3489  Second Owner    Petrol       88.5    5.0  22.38 kmpl  Hatchback

            city    ID max_power_group  id_max_power_group
0         Mumbai     0       0-100 bhp            0.206644
1         Jaipur     1       0-100 bhp            0.206644
2     Chandigarh     2       0-100 bhp            0.206644
3          Delhi     3       0-100 bhp            0.206644
4          Delhi     4       0-100 bhp            0.206644
...          ...   ...             ...                 ...
3485        Pune  3485       0-100 bhp            0.206644
3486   Bangalore  3486       0-100 bhp            0.206644
3487       Delhi  3487     100-200 bhp            0.446040
3488      Mumbai  3488       0-100 bhp            0.206644
3489       Delhi  3489       0-100 bhp            0.206644

[3490 rows x 16 columns]

In [32]:
# Contar a quantidade de NaN em cada coluna do DataFrame X
nan_count = df.isna().sum()

# Exibir a contagem de NaN por coluna
print(nan_count)

full_name               0
registered_year        15
engine_capacity         5
insurance               2
transmission_type       0
kms_driven              0
owner_type              9
fuel_type               0
max_power              13
seats                   3
mileage               101
body_type               0
city                    0
ID                      0
max_power_group        13
id_max_power_group      0
dtype: int64

In [33]:
#BODY TYPE ----------------------
#Replace the missing types and the ones that were wrong
df.loc[df['full_name'].isin(['2009 Maruti Estilo LXI', '2019 Nissan Kicks Diesel', '2010 Maruti Estilo LXI', '2019 Maruti Wagon R ZXI AMT 1.2BSIV',
                             '2016 Mercedes-Benz B Class B180 Sport', '2016 Mercedes-Benz A Class A200 D Sport Edition',
                             '2004 Tata Indigo Marina GLX', '2017 Volvo V40 D3 R Design']), 'body_type'] = 'Hatchback'
df.loc[df['full_name'].isin(['2005 Tata Sumo Victa EX 10/7 Str BSII', '2008 Tata Sumo CX', '2010 Tata New Safari DICOR 2.2 EX 4x2', 
                             '2017 Mahindra KUV 100 mFALCON G80 K8', '2019 Mahindra Bolero Camper GOLD ZX 2WD']), 'body_type'] = 'SUV'
df.loc[df['full_name'].isin(['2015 Honda Mobilio E i-DTEC', '2018 Maruti Eeco 5 Seater AC BSIV', '2016 Datsun GO Plus A']), 'body_type'] = 'MUV'
df.loc[df['full_name'].isin(['2021 BMW 7 Series 730Ld DPE Signature','2006 Hyundai Accent CRDi', '2007 Maruti SX4 Vxi BSIII',
                             '2020 Mercedes-Benz S-Class Maybach S560', '2004 Skoda Octavia 1.8 Turbo Petrol RS MT']), 'body_type'] = 'Sedan'
df.loc[df['full_name'].isin(['2012 Mercedes-Benz SLK-Class SLK 350', '2013 Mercedes-Benz E-Class E350 Cabriolet', 
                             '2009 Mercedes-Benz SLK-Class 55 AMG']), 'body_type'] = 'Convertibles'
df.loc[df['full_name'] == '2011 Jaguar XK R V8 Coupe', 'body_type'] = 'Coupe'
df.loc[df['full_name'].isin(['2015 Chevrolet Enjoy 1.4 LS 7', '2004 Maruti Versa DX2 8-SEATER BSIII TWIN A/C', '2021 Maruti Eeco 5 STR With AC Plus HTR CNG',
                             '2022 Maruti Eeco 5 Seater AC 2020-2022', '2022 Maruti Eeco 5 Seater AC BSVI', '2017 Maruti Eeco Flexi Green', 
                             '2013 Maruti Omni Limited Edition', '2021 Maruti Eeco CNG 5 Seater AC', '2019 Maruti Eeco CNG 5 Seater AC BSIV', 
                             '2019 Maruti Eeco 5 Seater AC', '2013 Maruti Eeco 5 Seater Standard BSIV', '2015 Maruti Omni CNG', 
                             '2015 Maruti Omni MPI CARGO BSIV', '2016 Maruti Eeco CNG 5 Seater AC BSIV', '2013 Toyota Innova 2.5 E Diesel MS 7-seater',
                             '2015 Chevrolet Enjoy 1.4 LS 7']), 'body_type'] = 'Minivans'
df.loc[df['full_name'].isin(['2014 Tata Xenon XT EX 4X2', '2019 Isuzu D-Max High']), 'body_type'] = 'Pickup'

# Check
distinct_full_names_with_blank_body_type = df[df['body_type'].isnull()]['full_name'].unique()
print('Distinct full names with blank body_type:')
for full_name in distinct_full_names_with_blank_body_type:
    print(full_name)

Distinct full names with blank body_type:

In [34]:
# Criar um dicionÃ¡rio de mapeamento de 'max_power_group' para 'id_max_power_group' em dft
mapeamento_max_power_group = dict(zip(dft['body_type'], dft['id_body_type']))

# Criar uma nova coluna 'id_max_power_group' em df com base na correspondÃªncia de 'max_power_group' em dft
df['id_body_type'] = df['body_type'].map(mapeamento_max_power_group)

In [35]:
#soluÃ§oes id_body_type

import pandas as pd

def adicionar_0_1_maior_valormax(df, dft):
    # Encontrar o maior valor na coluna 'id_body_type' em dft
    maior_valor_id_max_power_dft = dft['id_body_type'].max()

    # Adicionar 0.1 ao maior valor encontrado
    novo_valor = maior_valor_id_max_power_dft + 0.1

    # Valores a substituir e seus respectivos substitutos
    substitute_values = {
        'Tata': novo_valor,
        'Mahindra': novo_valor,
        'Maruti': novo_valor,
        'Audi': novo_valor,
        'Toyota': novo_valor,
        'Honda': novo_valor,
        'BMW': novo_valor,
        'Datsun': novo_valor,
        'Chevrolet': novo_valor,
        'Jaguar': novo_valor,
        'Porsche': novo_valor
    }

    # Substituir os valores na coluna 'body_type' pelos valores do dicionÃ¡rio substitute_values
    df['body_type'].replace(substitute_values, inplace=True)



# UtilizaÃ§Ã£o da funÃ§Ã£o com os DataFrames 'df' e 'dft'
adicionar_0_1_maior_valormax(df, dft)

# Visualizar o DataFrame 'df' atualizado
print(df)

                                           full_name registered_year  \
0     2017 Hyundai Grand i10 1.2 Kappa Sportz Option        Jun 2017
1                          2020 Maruti Swift AMT VXI        Feb 2021
2                    2010 Maruti Zen Estilo LX BSIII        Jul 2010
3                               2010 Maruti Alto LXi            2010
4                   2018 Hyundai i20 Active S Petrol        Oct 2018
...                                              ...             ...
3485                      2022 Tata Tigor EV XZ Plus            2022
3486                       2017 Renault KWID 1.0 RXT        Apr 2017
3487                       2017 Honda City i VTEC VX        Dec 2017
3488                    2016 Honda Jazz 1.2 V i VTEC        Jun 2016
3489                           2017 Maruti Swift VXI        Mar 2017

     engine_capacity              insurance transmission_type    kms_driven  \
0            1197 cc          Comprehensive            Manual    53,658 Kms
1            1197 cc          Not Available         Automatic    33,055 Kms
2             998 cc            Third Party            Manual    90,385 Kms
3             796 cc  Third Party insurance            Manual  1,10,000 Kms
4            1197 cc          Comprehensive            Manual    58,000 Kms
...              ...                    ...               ...           ...
3485             NaN  Third Party insurance         Automatic    30,000 Kms
3486          999 cc  Third Party insurance            Manual    64,024 Kms
3487         1497 cc          Comprehensive            Manual    39,000 Kms
3488         1199 cc          Comprehensive            Manual    33,000 Kms
3489         1197 cc          Comprehensive            Manual    14,097 Kms

        owner_type fuel_type  max_power  seats     mileage  body_type  \
0      First Owner    Petrol       81.8    5.0   18.9 kmpl  Hatchback
1     Second Owner    Petrol       81.8    5.0  21.21 kmpl  Hatchback
2      Third Owner    Petrol       67.1    5.0   18.2 kmpl  Hatchback
3      First Owner    Petrol       46.3    5.0   19.7 kmpl  Hatchback
4     Second Owner    Petrol       81.8    5.0  17.19 kmpl  Hatchback
...            ...       ...        ...    ...         ...        ...
3485   First Owner  Electric       73.7    5.0         NaN      Sedan
3486   First Owner    Petrol       67.0    5.0  23.01 kmpl  Hatchback
3487   First Owner    Petrol      117.3    5.0   17.8 kmpl      Sedan
3488   First Owner    Petrol       88.7    5.0   18.7 kmpl  Hatchback
3489  Second Owner    Petrol       88.5    5.0  22.38 kmpl  Hatchback

            city    ID max_power_group  id_max_power_group  id_body_type
0         Mumbai     0       0-100 bhp            0.206644      0.364112
1         Jaipur     1       0-100 bhp            0.206644      0.364112
2     Chandigarh     2       0-100 bhp            0.206644      0.364112
3          Delhi     3       0-100 bhp            0.206644      0.364112
4          Delhi     4       0-100 bhp            0.206644      0.364112
...          ...   ...             ...                 ...           ...
3485        Pune  3485       0-100 bhp            0.206644      0.578053
3486   Bangalore  3486       0-100 bhp            0.206644      0.364112
3487       Delhi  3487     100-200 bhp            0.446040      0.578053
3488      Mumbai  3488       0-100 bhp            0.206644      0.364112
3489       Delhi  3489       0-100 bhp            0.206644      0.364112

[3490 rows x 17 columns]

In [36]:
# Obtendo os valores Ãºnicos da coluna 'body_type'
valores_unicos_body_type = df['id_body_type'].unique()

# Exibindo os valores Ãºnicos
print(valores_unicos_body_type)

[0.36411207 0.59886912        nan 0.57805311 1.34759698 2.2890652
 3.28281625 3.04873305 3.42894429]

In [37]:

import pandas as pd

def adicionar_0_1_maior_valormax(df, dft):
    # Encontrar o maior valor na coluna 'id_categoria_marca' em dft
    maior_valor_id_body_type_dft = dft['id_body_type'].max()

    # Adicionar 0.1 ao maior valor encontrado
    novo_valor = maior_valor_id_body_type_dft + 0.1

    # Substituir os valores NaN na coluna 'id_categoria_marca' em df pelo novo valor
    df['id_body_type'].fillna(novo_valor, inplace=True)

# UtilizaÃ§Ã£o da funÃ§Ã£o com os DataFrames 'df' e 'dft'
adicionar_0_1_maior_valormax(df, dft)

# Visualizar o DataFrame 'df' atualizado
print(df)

                                           full_name registered_year  \
0     2017 Hyundai Grand i10 1.2 Kappa Sportz Option        Jun 2017
1                          2020 Maruti Swift AMT VXI        Feb 2021
2                    2010 Maruti Zen Estilo LX BSIII        Jul 2010
3                               2010 Maruti Alto LXi            2010
4                   2018 Hyundai i20 Active S Petrol        Oct 2018
...                                              ...             ...
3485                      2022 Tata Tigor EV XZ Plus            2022
3486                       2017 Renault KWID 1.0 RXT        Apr 2017
3487                       2017 Honda City i VTEC VX        Dec 2017
3488                    2016 Honda Jazz 1.2 V i VTEC        Jun 2016
3489                           2017 Maruti Swift VXI        Mar 2017

     engine_capacity              insurance transmission_type    kms_driven  \
0            1197 cc          Comprehensive            Manual    53,658 Kms
1            1197 cc          Not Available         Automatic    33,055 Kms
2             998 cc            Third Party            Manual    90,385 Kms
3             796 cc  Third Party insurance            Manual  1,10,000 Kms
4            1197 cc          Comprehensive            Manual    58,000 Kms
...              ...                    ...               ...           ...
3485             NaN  Third Party insurance         Automatic    30,000 Kms
3486          999 cc  Third Party insurance            Manual    64,024 Kms
3487         1497 cc          Comprehensive            Manual    39,000 Kms
3488         1199 cc          Comprehensive            Manual    33,000 Kms
3489         1197 cc          Comprehensive            Manual    14,097 Kms

        owner_type fuel_type  max_power  seats     mileage  body_type  \
0      First Owner    Petrol       81.8    5.0   18.9 kmpl  Hatchback
1     Second Owner    Petrol       81.8    5.0  21.21 kmpl  Hatchback
2      Third Owner    Petrol       67.1    5.0   18.2 kmpl  Hatchback
3      First Owner    Petrol       46.3    5.0   19.7 kmpl  Hatchback
4     Second Owner    Petrol       81.8    5.0  17.19 kmpl  Hatchback
...            ...       ...        ...    ...         ...        ...
3485   First Owner  Electric       73.7    5.0         NaN      Sedan
3486   First Owner    Petrol       67.0    5.0  23.01 kmpl  Hatchback
3487   First Owner    Petrol      117.3    5.0   17.8 kmpl      Sedan
3488   First Owner    Petrol       88.7    5.0   18.7 kmpl  Hatchback
3489  Second Owner    Petrol       88.5    5.0  22.38 kmpl  Hatchback

            city    ID max_power_group  id_max_power_group  id_body_type
0         Mumbai     0       0-100 bhp            0.206644      0.364112
1         Jaipur     1       0-100 bhp            0.206644      0.364112
2     Chandigarh     2       0-100 bhp            0.206644      0.364112
3          Delhi     3       0-100 bhp            0.206644      0.364112
4          Delhi     4       0-100 bhp            0.206644      0.364112
...          ...   ...             ...                 ...           ...
3485        Pune  3485       0-100 bhp            0.206644      0.578053
3486   Bangalore  3486       0-100 bhp            0.206644      0.364112
3487       Delhi  3487     100-200 bhp            0.446040      0.578053
3488      Mumbai  3488       0-100 bhp            0.206644      0.364112
3489       Delhi  3489       0-100 bhp            0.206644      0.364112

[3490 rows x 17 columns]

In [38]:
# Contar a quantidade de NaN em cada coluna do DataFrame X
nan_count = df.isna().sum()

# Exibir a contagem de NaN por coluna
print(nan_count)

full_name               0
registered_year        15
engine_capacity         5
insurance               2
transmission_type       0
kms_driven              0
owner_type              9
fuel_type               0
max_power              13
seats                   3
mileage               101
body_type               0
city                    0
ID                      0
max_power_group        13
id_max_power_group      0
id_body_type            0
dtype: int64

In [47]:
#FullName ______________________________________

#ANO
# Extract the year and create a new column
df['ano'] = df['full_name'].str.extract(r'(\d{4})')

# Display the resulting DataFrame
print(df['ano'])

#MARCA
# Extract the first word after the year and create a new column
df['marca'] = df['full_name'].str.extract(r'\d{4}\s(\w+)')

# Print the resulting DataFrame
print(df['marca'])

#MODELO
# Get everything that comes after "marca"
df['modelo'] = df['full_name'].str.extract(r'\d{4}\s\w+\s(.+)')

# Print the resulting DataFrame
print(df['modelo'])

0       2017
1       2020
2       2010
3       2010
4       2018
        ...
3485    2022
3486    2017
3487    2017
3488    2016
3489    2017
Name: ano, Length: 3490, dtype: object
0       Hyundai
1        Maruti
2        Maruti
3        Maruti
4       Hyundai
         ...
3485       Tata
3486    Renault
3487      Honda
3488      Honda
3489     Maruti
Name: marca, Length: 3490, dtype: object
0       Grand i10 1.2 Kappa Sportz Option
1                           Swift AMT VXI
2                     Zen Estilo LX BSIII
3                                Alto LXi
4                     i20 Active S Petrol
                      ...
3485                     Tigor EV XZ Plus
3486                         KWID 1.0 RXT
3487                       City i VTEC VX
3488                    Jazz 1.2 V i VTEC
3489                            Swift VXI
Name: modelo, Length: 3490, dtype: object

In [49]:
# Criar um dicionÃ¡rio de mapeamento de 'max_power_group' para 'id_max_power_group' em dft
mapeamento_max_power_group = dict(zip(dft['modelo'], dft['id_modelos']))

# Criar uma nova coluna 'id_max_power_group' em df com base na correspondÃªncia de 'max_power_group' em dft
df['id_modelos'] = df['modelo'].map(mapeamento_max_power_group)

In [51]:
import pandas as pd

def adicionar_0_1_maior_valor(df, dft):
    # Encontrar o maior valor na coluna 'id_categoria_marca' em dft
    maior_valor_id_modelos = dft['id_modelos'].max()
    print(maior_valor_id_modelos)
    # Adicionar 0.1 ao maior valor encontrado
    novo_valor = maior_valor_id_modelos + 0.1
    print(novo_valor)
    # Substituir os valores NaN na coluna 'id_categoria_marca' em df pelo novo valor
    df['id_modelos'].fillna(novo_valor, inplace=True)

# UtilizaÃ§Ã£o da funÃ§Ã£o com os DataFrames 'df' e 'dft'
adicionar_0_1_maior_valor(df, dft)

# Visualizar o DataFrame 'df' atualizado
print(df)

3.826884298707612
3.9268842987076122
                                           full_name registered_year  \
0     2017 Hyundai Grand i10 1.2 Kappa Sportz Option        Jun 2017
1                          2020 Maruti Swift AMT VXI        Feb 2021
2                    2010 Maruti Zen Estilo LX BSIII        Jul 2010
3                               2010 Maruti Alto LXi            2010
4                   2018 Hyundai i20 Active S Petrol        Oct 2018
...                                              ...             ...
3485                      2022 Tata Tigor EV XZ Plus            2022
3486                       2017 Renault KWID 1.0 RXT        Apr 2017
3487                       2017 Honda City i VTEC VX        Dec 2017
3488                    2016 Honda Jazz 1.2 V i VTEC        Jun 2016
3489                           2017 Maruti Swift VXI        Mar 2017

     engine_capacity              insurance transmission_type    kms_driven  \
0            1197 cc          Comprehensive            Manual    53,658 Kms
1            1197 cc          Not Available         Automatic    33,055 Kms
2             998 cc            Third Party            Manual    90,385 Kms
3             796 cc  Third Party insurance            Manual  1,10,000 Kms
4            1197 cc          Comprehensive            Manual    58,000 Kms
...              ...                    ...               ...           ...
3485             NaN  Third Party insurance         Automatic    30,000 Kms
3486          999 cc  Third Party insurance            Manual    64,024 Kms
3487         1497 cc          Comprehensive            Manual    39,000 Kms
3488         1199 cc          Comprehensive            Manual    33,000 Kms
3489         1197 cc          Comprehensive            Manual    14,097 Kms

        owner_type fuel_type  max_power  seats  ...  body_type        city  \
0      First Owner    Petrol       81.8    5.0  ...  Hatchback      Mumbai
1     Second Owner    Petrol       81.8    5.0  ...  Hatchback      Jaipur
2      Third Owner    Petrol       67.1    5.0  ...  Hatchback  Chandigarh
3      First Owner    Petrol       46.3    5.0  ...  Hatchback       Delhi
4     Second Owner    Petrol       81.8    5.0  ...  Hatchback       Delhi
...            ...       ...        ...    ...  ...        ...         ...
3485   First Owner  Electric       73.7    5.0  ...      Sedan        Pune
3486   First Owner    Petrol       67.0    5.0  ...  Hatchback   Bangalore
3487   First Owner    Petrol      117.3    5.0  ...      Sedan       Delhi
3488   First Owner    Petrol       88.7    5.0  ...  Hatchback      Mumbai
3489  Second Owner    Petrol       88.5    5.0  ...  Hatchback       Delhi

        ID  max_power_group id_max_power_group  id_body_type   ano    marca  \
0        0        0-100 bhp           0.206644      0.364112  2017  Hyundai
1        1        0-100 bhp           0.206644      0.364112  2020   Maruti
2        2        0-100 bhp           0.206644      0.364112  2010   Maruti
3        3        0-100 bhp           0.206644      0.364112  2010   Maruti
4        4        0-100 bhp           0.206644      0.364112  2018  Hyundai
...    ...              ...                ...           ...   ...      ...
3485  3485        0-100 bhp           0.206644      0.578053  2022     Tata
3486  3486        0-100 bhp           0.206644      0.364112  2017  Renault
3487  3487      100-200 bhp           0.446040      0.578053  2017    Honda
3488  3488        0-100 bhp           0.206644      0.364112  2016    Honda
3489  3489        0-100 bhp           0.206644      0.364112  2017   Maruti

                                 modelo id_modelos
0     Grand i10 1.2 Kappa Sportz Option   2.872642
1                         Swift AMT VXI   3.224824
2                   Zen Estilo LX BSIII   3.428944
3                              Alto LXi   2.420344
4                   i20 Active S Petrol   3.826884
...                                 ...        ...
3485                   Tigor EV XZ Plus   3.428944
3486                       KWID 1.0 RXT   2.650793
3487                     City i VTEC VX   2.729974
3488                  Jazz 1.2 V i VTEC   2.872642
3489                          Swift VXI   1.840113

[3490 rows x 21 columns]

In [1]:
# Criar um dicionÃ¡rio de mapeamento de 'max_power_group' para 'id_max_power_group' em dft
mapeamento_max_power_group = dict(zip(dft['transmission_type'], dft['id_transmissao']))

# Criar uma nova coluna 'id_max_power_group' em df com base na correspondÃªncia de 'max_power_group' em dft
df['id_transmissao'] = df['transmission_type'].map(mapeamento_max_power_group)

NameError: name 'dft' is not defined

In [56]:
#MILEAGE
#assign value to blank lines
df['mileage'] = df['mileage'].fillna(0)

df = df[df['mileage'].notna()]
consumo_correto = []

for i in df['mileage']:
    match = re.search(r'(\d+.\d+|\d+)', str(i))  # Encontrar nÃºmeros (com ou sem ponto decimal)

    if match:
        valor = float(match.group())

        if 'km/kg' in str(i):
            valor *= 1.40  # Converter de km/kg para kmpl

        consumo_correto.append(valor)

df['mileage'] = consumo_correto

In [58]:
# Criar um dicionÃ¡rio de mapeamento de 'max_power_group' para 'id_max_power_group' em dft
mapeamento_max_power_group = dict(zip(dft['marca'], dft['id_categoria_marca']))

# Criar uma nova coluna 'id_max_power_group' em df com base na correspondÃªncia de 'max_power_group' em dft
df['id_categoria_marca'] = df['marca'].map(mapeamento_max_power_group)

In [60]:
import pandas as pd

def adicionar_0_1_maior_valor(df, dft):
    # Encontrar o maior valor na coluna 'id_categoria_marca' em dft
    maior_valor_categoria_marca_dft = dft['id_categoria_marca'].max()

    # Adicionar 0.1 ao maior valor encontrado
    novo_valor = maior_valor_categoria_marca_dft + 0.1

    # Substituir os valores NaN na coluna 'id_categoria_marca' em df pelo novo valor
    df['id_categoria_marca'].fillna(novo_valor, inplace=True)

# UtilizaÃ§Ã£o da funÃ§Ã£o com os DataFrames 'df' e 'dft'
adicionar_0_1_maior_valor(df, dft)

# Visualizar o DataFrame 'df' atualizado

In [61]:
# Contar a quantidade de NaN em cada coluna do DataFrame X
nan_count = df.isna().sum()

# Exibir a contagem de NaN por coluna
print(nan_count)

full_name              0
registered_year       15
engine_capacity        5
insurance              2
transmission_type      0
kms_driven             0
owner_type             9
fuel_type              0
max_power             13
seats                  3
mileage                0
body_type              0
city                   0
ID                     0
max_power_group       13
id_max_power_group     0
id_body_type           0
ano                    0
marca                  0
modelo                73
id_modelos             0
id_transmissao         0
id_categoria_marca     0
dtype: int64

In [64]:
# Check data types
data_types = df.dtypes
print("Data type by column:")
print(data_types)

Data type by column:
full_name                     object
registered_year               object
engine_capacity               object
insurance                     object
transmission_type             object
kms_driven                    object
owner_type                    object
fuel_type                     object
max_power                    float64
seats                        float64
mileage                      float64
body_type                     object
city                          object
ID                             int64
max_power_group       string[python]
id_max_power_group           float64
id_body_type                 float64
ano                          float64
marca                         object
modelo                        object
id_modelos                   float64
id_transmissao               float64
id_categoria_marca           float64
dtype: object

In [63]:
df = df.astype({
    
    'ano': float,
  
    
  
})

In [ ]:
#Export
#Not the target
colunas_selecionadas = ['id_body_type','id_categoria_marca','ano','mileage','id_max_power_group','id_transmissao','id_modelos','ID']

if set(colunas_selecionadas).issubset(df.columns):
    df_selecionado = df[colunas_selecionadas]
    df_selecionado.to_csv('testcenario2_0_20.csv', index=False)