In [45]:
import warnings
warnings.filterwarnings("ignore")

In [46]:
import pandas as pd
#necessario por causa do metodo de avaliaçao
from sklearn.model_selection import KFold
from sklearn.metrics import (
        make_scorer,
        confusion_matrix, 
        cohen_kappa_score, 
        accuracy_score, 
        precision_score, 
        recall_score, 
        f1_score, 
        roc_auc_score
)
from sklearn.model_selection import cross_validate, StratifiedKFold
from sklearn.tree import DecisionTreeClassifier # decision trees for classification
from sklearn.neural_network import  MLPClassifier # neural networks for classification
from sklearn.naive_bayes import GaussianNB # naive bayes for classification
from sklearn.svm import SVC # support vector machines for classification

In [47]:
#metricas regressao
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

def custom_regression_metrics(y_true, y_pred):
    mse = mean_squared_error(y_true, y_pred)
    mae = mean_absolute_error(y_true, y_pred)
    r2 = r2_score(y_true, y_pred)
    
    return mse, mae, r2

In [48]:
#metricas classificação
def specificity_score(y_true, y_pred):
    tn, fp, fn, tp = confusion_matrix(y_true, y_pred).ravel()
    return tn / (tn+fp)

In [49]:
#Metricas regressao
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

REGRESSION_METRICS = {
    "MSE": make_scorer(mean_squared_error),
    "MAE": make_scorer(mean_absolute_error),
    "R2": make_scorer(r2_score)
}

In [50]:
d = pd.read_csv("Xcenario2.csv")

In [51]:
print("Colunas em d:")
print(d.columns)

Colunas em d:
Index(['id_body_type', 'id_categoria_marca', 'ano', 'id_city', 'id_insurance',
       'seats', 'mileage', 'id_engine_capacity_group', 'id_fuel_type',
       'id_kms_group', 'id_max_power_group', 'id_owner_type',
       'resale_price_Lakh'],
      dtype='object')

In [69]:
d

,id_body_type,id_categoria_marca,ano,id_city,id_insurance,seats,mileage,id_engine_capacity_group,id_fuel_type,id_kms_group,id_max_power_group,id_owner_type,resale_price_Lakh
0,0.364112,0.073531,2019.0,1.096102,0.256633,5.0,23.84,0.126137,0.180334,0.364786,0.206644,0.150465,5.66
1,0.598869,0.073531,2018.0,1.281577,1.306401,5.0,17.50,0.126137,0.180334,0.364786,0.206644,1.365236,6.64
2,0.578053,0.073531,2015.0,0.922710,0.256633,5.0,17.40,0.126137,0.180334,0.255059,0.446040,0.620328,5.65
3,0.598869,0.073531,2021.0,0.922710,0.256633,7.0,14.08,0.126137,0.514919,0.364786,0.446040,0.150465,23.00
4,0.364112,0.073531,2019.0,1.170307,1.306401,5.0,21.40,0.126137,0.180334,0.255059,0.206644,0.150465,6.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13420,1.347597,0.903640,2021.0,1.027199,0.256633,7.0,14.11,1.105074,0.514919,0.255059,0.446040,0.620328,26.50
13421,0.364112,0.073531,2017.0,1.223199,0.256633,5.0,18.60,0.126137,0.180334,0.364786,0.206644,0.150465,5.87
13422,0.578053,0.903640,2017.0,1.027199,0.445408,5.0,21.13,0.126137,0.514919,0.255059,0.446040,0.620328,7.43
13423,0.598869,0.073531,2017.0,0.868320,0.445408,5.0,24.30,0.126137,0.514919,0.364786,0.206644,0.620328,9.45
13424,0.578053,0.073531,2015.0,0.868320,0.445408,5.0,18.00,0.126137,0.180334,0.364786,0.206644,0.150465,4.55

In [52]:
X, y = d.drop("resale_price_Lakh", axis=1), d["resale_price_Lakh"]

In [53]:
# Utilize KFold para um problema de regressão
kf = KFold(n_splits=10, shuffle=True, random_state=1234)

In [54]:
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_validate
import pandas as pd
# Carregar o conjunto de teste a partir de um arquivo CSV
df_test = pd.read_csv('test.csv') 

# Utilize KFold para um problema de regressão
kf = KFold(n_splits=10, shuffle=True, random_state=1234)

# Continue com a validação cruzada e a avaliação de métricas
dt_regressor = DecisionTreeRegressor(max_depth=3, random_state=1234)
scores = cross_validate(dt_regressor, X, y, cv=kf, scoring=REGRESSION_METRICS)
dt_scores = pd.DataFrame(scores)
print(pd.DataFrame(dt_scores.mean()).T)

# Treinar o modelo final usando todo o conjunto de dados
final_model = DecisionTreeRegressor(max_depth=3, random_state=1234)
final_model.fit(X, y)

# Suponhamos que você tenha um conjunto de teste df_test
# Certifique-se de que df_test tem as mesmas features que X

   fit_time  score_time   test_MSE  test_MAE   test_R2
0  0.012247    0.003011  28.792146  3.077239  0.670841

DecisionTreeRegressor(max_depth=3, random_state=1234)

In [55]:
print(X)
# Check data types
data_types = X.dtypes
print("Data type by column:")
print(data_types)

       id_body_type  id_categoria_marca     ano   id_city  id_insurance  \
0          0.364112            0.073531  2019.0  1.096102      0.256633
1          0.598869            0.073531  2018.0  1.281577      1.306401
2          0.578053            0.073531  2015.0  0.922710      0.256633
3          0.598869            0.073531  2021.0  0.922710      0.256633
4          0.364112            0.073531  2019.0  1.170307      1.306401
...             ...                 ...     ...       ...           ...
13420      1.347597            0.903640  2021.0  1.027199      0.256633
13421      0.364112            0.073531  2017.0  1.223199      0.256633
13422      0.578053            0.903640  2017.0  1.027199      0.445408
13423      0.598869            0.073531  2017.0  0.868320      0.445408
13424      0.578053            0.073531  2015.0  0.868320      0.445408

       seats  mileage  id_engine_capacity_group  id_fuel_type  id_kms_group  \
0        5.0    23.84                  0.126137      0.180334      0.364786
1        5.0    17.50                  0.126137      0.180334      0.364786
2        5.0    17.40                  0.126137      0.180334      0.255059
3        7.0    14.08                  0.126137      0.514919      0.364786
4        5.0    21.40                  0.126137      0.180334      0.255059
...      ...      ...                       ...           ...           ...
13420    7.0    14.11                  1.105074      0.514919      0.255059
13421    5.0    18.60                  0.126137      0.180334      0.364786
13422    5.0    21.13                  0.126137      0.514919      0.255059
13423    5.0    24.30                  0.126137      0.514919      0.364786
13424    5.0    18.00                  0.126137      0.180334      0.364786

       id_max_power_group  id_owner_type
0                0.206644       0.150465
1                0.206644       1.365236
2                0.446040       0.620328
3                0.446040       0.150465
4                0.206644       0.150465
...                   ...            ...
13420            0.446040       0.620328
13421            0.206644       0.150465
13422            0.446040       0.620328
13423            0.206644       0.620328
13424            0.206644       0.150465

[13425 rows x 12 columns]
Data type by column:
id_body_type                float64
id_categoria_marca          float64
ano                         float64
id_city                     float64
id_insurance                float64
seats                       float64
mileage                     float64
id_engine_capacity_group    float64
id_fuel_type                float64
id_kms_group                float64
id_max_power_group          float64
id_owner_type               float64
dtype: object

In [56]:
from sklearn.tree import DecisionTreeRegressor
import pandas as pd

# Carregar o conjunto de teste a partir de um arquivo CSV
df_test = pd.read_csv("testcenario2Mileage.csv") 

# Criar um novo DataFrame apenas com a coluna 'ID'
id_column = df_test[['ID']].copy()

# Remover a coluna 'ID' do DataFrame original
df_test.drop('ID', axis=1, inplace=True)

In [70]:
df_test

,id_body_type,id_categoria_marca,ano,id_city,id_insurance,seats,mileage,id_engine_capacity_group,id_fuel_type,id_kms_group,id_max_power_group,id_owner_type
0,0.364112,0.073531,2017.0,0.922710,0.445408,5.0,0.019654,0.126137,0.180334,0.255059,0.206644,0.150465
1,0.364112,0.073531,2020.0,1.281577,1.418644,5.0,0.019654,0.126137,0.180334,0.364786,0.206644,0.620328
2,0.364112,0.073531,2010.0,1.593888,0.256633,5.0,0.019654,0.776698,0.180334,0.255059,0.206644,1.365236
3,0.364112,0.073531,2010.0,0.767700,0.256633,5.0,0.019654,0.776698,0.180334,0.255059,0.206644,0.150465
4,0.364112,0.073531,2018.0,0.767700,0.445408,5.0,0.019654,0.126137,0.180334,0.255059,0.206644,0.620328
...,...,...,...,...,...,...,...,...,...,...,...,...
3485,0.578053,0.073531,2022.0,1.096102,0.256633,5.0,1.562066,4.127914,2.455816,0.364786,0.206644,0.150465
3486,0.364112,0.073531,2017.0,0.868320,0.256633,5.0,0.019654,0.776698,0.180334,0.255059,0.206644,0.150465
3487,0.578053,0.073531,2017.0,0.767700,0.445408,5.0,0.019654,0.126137,0.180334,0.364786,0.446040,0.150465
3488,0.364112,0.073531,2016.0,0.922710,0.445408,5.0,0.019654,0.126137,0.180334,0.364786,0.206644,0.150465
3489,0.364112,0.073531,2017.0,0.767700,0.445408,5.0,0.019654,0.126137,0.180334,0.364786,0.206644,0.620328

In [57]:

print(df_test)
# Check data types
data_types = df_test.dtypes
print("Data type by column:")
print(data_types)

      body_type  id_categoria_marca     ano      city  insurance  seats  \
0      0.364112            0.073531  2017.0  0.922710   0.445408    5.0
1      0.364112            0.073531  2020.0  1.281577   1.418644    5.0
2      0.364112            0.073531  2010.0  1.593888   0.256633    5.0
3      0.364112            0.073531  2010.0  0.767700   0.256633    5.0
4      0.364112            0.073531  2018.0  0.767700   0.445408    5.0
...         ...                 ...     ...       ...        ...    ...
3485   0.578053            0.073531  2022.0  1.096102   0.256633    5.0
3486   0.364112            0.073531  2017.0  0.868320   0.256633    5.0
3487   0.578053            0.073531  2017.0  0.767700   0.445408    5.0
3488   0.364112            0.073531  2016.0  0.922710   0.445408    5.0
3489   0.364112            0.073531  2017.0  0.767700   0.445408    5.0

      id_mileage_group  id_engine_capacity_group  fuel_type  id_kms_group  \
0             0.019654                  0.126137   0.180334      0.255059
1             0.019654                  0.126137   0.180334      0.364786
2             0.019654                  0.776698   0.180334      0.255059
3             0.019654                  0.776698   0.180334      0.255059
4             0.019654                  0.126137   0.180334      0.255059
...                ...                       ...        ...           ...
3485          1.562066                  4.127914   2.455816      0.364786
3486          0.019654                  0.776698   0.180334      0.255059
3487          0.019654                  0.126137   0.180334      0.364786
3488          0.019654                  0.126137   0.180334      0.364786
3489          0.019654                  0.126137   0.180334      0.364786

      id_max_power_group  owner_type
0               0.206644    0.150465
1               0.206644    0.620328
2               0.206644    1.365236
3               0.206644    0.150465
4               0.206644    0.620328
...                  ...         ...
3485            0.206644    0.150465
3486            0.206644    0.150465
3487            0.446040    0.150465
3488            0.206644    0.150465
3489            0.206644    0.620328

[3490 rows x 12 columns]
Data type by column:
body_type                   float64
id_categoria_marca          float64
ano                         float64
city                        float64
insurance                   float64
seats                       float64
id_mileage_group            float64
id_engine_capacity_group    float64
fuel_type                   float64
id_kms_group                float64
id_max_power_group          float64
owner_type                  float64
dtype: object

In [58]:
# Contar a quantidade de NaN em cada coluna do DataFrame X
nan_count = X.isna().sum()

# Exibir a contagem de NaN por coluna
print(nan_count)

id_body_type                0
id_categoria_marca          0
ano                         0
id_city                     0
id_insurance                0
seats                       0
mileage                     0
id_engine_capacity_group    0
id_fuel_type                0
id_kms_group                0
id_max_power_group          0
id_owner_type               0
dtype: int64

In [59]:
# Contar a quantidade de NaN em cada coluna do DataFrame X
nan_count = df_test.isna().sum()

# Exibir a contagem de NaN por coluna
print(nan_count)

body_type                   0
id_categoria_marca          0
ano                         0
city                        0
insurance                   0
seats                       0
id_mileage_group            0
id_engine_capacity_group    0
fuel_type                   0
id_kms_group                0
id_max_power_group          0
owner_type                  0
dtype: int64

In [60]:
# Mapeando os nomes das colunas de d_test para os correspondentes em d
mapeamento_colunas = {
    'body_type': 'id_body_type',
    'city': 'id_city',
    'insurance': 'id_insurance',
    'fuel_type': 'id_fuel_type',
    'owner_type': 'id_owner_type',
    'id_mileage_group': 'mileage',
    
}

# Renomeando as colunas em d_test
df_test.rename(columns=mapeamento_colunas, inplace=True)

In [61]:
# Check data types
print(y.dtypes)

float64

In [62]:
# Check data types
print(X.dtypes)

id_body_type                float64
id_categoria_marca          float64
ano                         float64
id_city                     float64
id_insurance                float64
seats                       float64
mileage                     float64
id_engine_capacity_group    float64
id_fuel_type                float64
id_kms_group                float64
id_max_power_group          float64
id_owner_type               float64
dtype: object

In [63]:
# Check data types
print(df_test.dtypes)

id_body_type                float64
id_categoria_marca          float64
ano                         float64
id_city                     float64
id_insurance                float64
seats                       float64
mileage                     float64
id_engine_capacity_group    float64
id_fuel_type                float64
id_kms_group                float64
id_max_power_group          float64
id_owner_type               float64
dtype: object

In [64]:
from sklearn import tree
clf = tree.DecisionTreeRegressor()
clf = clf.fit(X, y)
predictions=clf.predict(df_test)

In [65]:

print(len(predictions))  # Check the length of predictions

3490

In [66]:
id_series = id_column.squeeze()
df_predictions = pd.DataFrame({"ID": id_series, "prediction": predictions})

In [67]:
print(df_predictions)

        ID  prediction
0        0        5.05
1        1        7.60
2        2        1.47
3        3        1.50
4        4        3.80
...    ...         ...
3485  3485       13.00
3486  3486        6.87
3487  3487       10.45
3488  3488        6.60
3489  3489        3.20

[3490 rows x 2 columns]

In [68]:
# Exporte o DataFrame para um arquivo CSV
df_predictions.to_csv('treeCenario2Milage.csv', index=False)