In [122]:
import warnings
warnings.filterwarnings("ignore")

In [123]:
import pandas as pd
#necessario por causa do metodo de avaliaçao
from sklearn.model_selection import KFold
from sklearn.metrics import (
        make_scorer,
        confusion_matrix, 
        cohen_kappa_score, 
        accuracy_score, 
        precision_score, 
        recall_score, 
        f1_score, 
        roc_auc_score
)
from sklearn.model_selection import cross_validate, StratifiedKFold
from sklearn.tree import DecisionTreeClassifier # decision trees for classification
from sklearn.neural_network import  MLPClassifier # neural networks for classification
from sklearn.naive_bayes import GaussianNB # naive bayes for classification
from sklearn.svm import SVC # support vector machines for classification

In [124]:
#metricas regressao
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

def custom_regression_metrics(y_true, y_pred):
    mse = mean_squared_error(y_true, y_pred)
    mae = mean_absolute_error(y_true, y_pred)
    r2 = r2_score(y_true, y_pred)
    
    return mse, mae, r2

In [125]:
#metricas classificação
def specificity_score(y_true, y_pred):
    tn, fp, fn, tp = confusion_matrix(y_true, y_pred).ravel()
    return tn / (tn+fp)

In [126]:
#Metricas regressao
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

REGRESSION_METRICS = {
    "MSE": make_scorer(mean_squared_error),
    "MAE": make_scorer(mean_absolute_error),
    "R2": make_scorer(r2_score)
}

In [127]:
d = pd.read_csv("MileageCenario2.csv")

In [128]:
print("Colunas em d:")
print(d.columns)

Colunas em d:
Index(['id_body_type', 'id_categoria_marca', 'ano', 'id_city', 'id_insurance',
       'seats', 'id_mileage_group', 'id_engine_capacity_group', 'id_fuel_type',
       'id_kms_group', 'id_max_power_group', 'id_owner_type',
       'resale_price_Lakh'],
      dtype='object')

In [129]:
d

,id_body_type,id_categoria_marca,ano,id_city,id_insurance,seats,id_mileage_group,id_engine_capacity_group,id_fuel_type,id_kms_group,id_max_power_group,id_owner_type,resale_price_Lakh
0,0.364112,0.073531,2019.0,1.096102,0.256633,5.0,0.019654,0.126137,0.180334,0.364786,0.206644,0.150465,5.66
1,0.598869,0.073531,2018.0,1.281577,1.306401,5.0,0.019654,0.126137,0.180334,0.364786,0.206644,1.365236,6.64
2,0.578053,0.073531,2015.0,0.922710,0.256633,5.0,0.019654,0.126137,0.180334,0.255059,0.446040,0.620328,5.65
3,0.598869,0.073531,2021.0,0.922710,0.256633,7.0,0.019654,0.126137,0.514919,0.364786,0.446040,0.150465,23.00
4,0.364112,0.073531,2019.0,1.170307,1.306401,5.0,0.019654,0.126137,0.180334,0.255059,0.206644,0.150465,6.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13420,1.347597,0.903640,2021.0,1.027199,0.256633,7.0,0.019654,1.105074,0.514919,0.255059,0.446040,0.620328,26.50
13421,0.364112,0.073531,2017.0,1.223199,0.256633,5.0,0.019654,0.126137,0.180334,0.364786,0.206644,0.150465,5.87
13422,0.578053,0.903640,2017.0,1.027199,0.445408,5.0,0.019654,0.126137,0.514919,0.255059,0.446040,0.620328,7.43
13423,0.598869,0.073531,2017.0,0.868320,0.445408,5.0,0.019654,0.126137,0.514919,0.364786,0.206644,0.620328,9.45
13424,0.578053,0.073531,2015.0,0.868320,0.445408,5.0,0.019654,0.126137,0.180334,0.364786,0.206644,0.150465,4.55

In [130]:
X, y = d.drop("resale_price_Lakh", axis=1), d["resale_price_Lakh"]

In [131]:
# Utilize KFold para um problema de regressão
kf = KFold(n_splits=10, shuffle=True, random_state=1234)

In [132]:
print(X)
# Check data types
data_types = X.dtypes
print("Data type by column:")
print(data_types)

       id_body_type  id_categoria_marca     ano   id_city  id_insurance  \
0          0.364112            0.073531  2019.0  1.096102      0.256633
1          0.598869            0.073531  2018.0  1.281577      1.306401
2          0.578053            0.073531  2015.0  0.922710      0.256633
3          0.598869            0.073531  2021.0  0.922710      0.256633
4          0.364112            0.073531  2019.0  1.170307      1.306401
...             ...                 ...     ...       ...           ...
13420      1.347597            0.903640  2021.0  1.027199      0.256633
13421      0.364112            0.073531  2017.0  1.223199      0.256633
13422      0.578053            0.903640  2017.0  1.027199      0.445408
13423      0.598869            0.073531  2017.0  0.868320      0.445408
13424      0.578053            0.073531  2015.0  0.868320      0.445408

       seats  id_mileage_group  id_engine_capacity_group  id_fuel_type  \
0        5.0          0.019654                  0.126137      0.180334
1        5.0          0.019654                  0.126137      0.180334
2        5.0          0.019654                  0.126137      0.180334
3        7.0          0.019654                  0.126137      0.514919
4        5.0          0.019654                  0.126137      0.180334
...      ...               ...                       ...           ...
13420    7.0          0.019654                  1.105074      0.514919
13421    5.0          0.019654                  0.126137      0.180334
13422    5.0          0.019654                  0.126137      0.514919
13423    5.0          0.019654                  0.126137      0.514919
13424    5.0          0.019654                  0.126137      0.180334

       id_kms_group  id_max_power_group  id_owner_type
0          0.364786            0.206644       0.150465
1          0.364786            0.206644       1.365236
2          0.255059            0.446040       0.620328
3          0.364786            0.446040       0.150465
4          0.255059            0.206644       0.150465
...             ...                 ...            ...
13420      0.255059            0.446040       0.620328
13421      0.364786            0.206644       0.150465
13422      0.255059            0.446040       0.620328
13423      0.364786            0.206644       0.620328
13424      0.364786            0.206644       0.150465

[13425 rows x 12 columns]
Data type by column:
id_body_type                float64
id_categoria_marca          float64
ano                         float64
id_city                     float64
id_insurance                float64
seats                       float64
id_mileage_group            float64
id_engine_capacity_group    float64
id_fuel_type                float64
id_kms_group                float64
id_max_power_group          float64
id_owner_type               float64
dtype: object

In [133]:
from sklearn.tree import DecisionTreeRegressor
import pandas as pd

# Carregar o conjunto de teste a partir de um arquivo CSV
df_test = pd.read_csv("testcenario2Mileage.csv") 

# Criar um novo DataFrame apenas com a coluna 'ID'
id_column = df_test[['ID']].copy()

# Remover a coluna 'ID' do DataFrame original
df_test.drop('ID', axis=1, inplace=True)

In [134]:
df_test

,body_type,id_categoria_marca,ano,city,insurance,seats,id_mileage_group,id_engine_capacity_group,fuel_type,id_kms_group,id_max_power_group,owner_type
0,0.364112,0.073531,2017.0,0.922710,0.445408,5.0,0.019654,0.126137,0.180334,0.255059,0.206644,0.150465
1,0.364112,0.073531,2020.0,1.281577,1.418644,5.0,0.019654,0.126137,0.180334,0.364786,0.206644,0.620328
2,0.364112,0.073531,2010.0,1.593888,0.256633,5.0,0.019654,0.776698,0.180334,0.255059,0.206644,1.365236
3,0.364112,0.073531,2010.0,0.767700,0.256633,5.0,0.019654,0.776698,0.180334,0.255059,0.206644,0.150465
4,0.364112,0.073531,2018.0,0.767700,0.445408,5.0,0.019654,0.126137,0.180334,0.255059,0.206644,0.620328
...,...,...,...,...,...,...,...,...,...,...,...,...
3485,0.578053,0.073531,2022.0,1.096102,0.256633,5.0,1.562066,4.127914,2.455816,0.364786,0.206644,0.150465
3486,0.364112,0.073531,2017.0,0.868320,0.256633,5.0,0.019654,0.776698,0.180334,0.255059,0.206644,0.150465
3487,0.578053,0.073531,2017.0,0.767700,0.445408,5.0,0.019654,0.126137,0.180334,0.364786,0.446040,0.150465
3488,0.364112,0.073531,2016.0,0.922710,0.445408,5.0,0.019654,0.126137,0.180334,0.364786,0.206644,0.150465
3489,0.364112,0.073531,2017.0,0.767700,0.445408,5.0,0.019654,0.126137,0.180334,0.364786,0.206644,0.620328

In [135]:

print(df_test)
# Check data types
data_types = df_test.dtypes
print("Data type by column:")
print(data_types)

      body_type  id_categoria_marca     ano      city  insurance  seats  \
0      0.364112            0.073531  2017.0  0.922710   0.445408    5.0
1      0.364112            0.073531  2020.0  1.281577   1.418644    5.0
2      0.364112            0.073531  2010.0  1.593888   0.256633    5.0
3      0.364112            0.073531  2010.0  0.767700   0.256633    5.0
4      0.364112            0.073531  2018.0  0.767700   0.445408    5.0
...         ...                 ...     ...       ...        ...    ...
3485   0.578053            0.073531  2022.0  1.096102   0.256633    5.0
3486   0.364112            0.073531  2017.0  0.868320   0.256633    5.0
3487   0.578053            0.073531  2017.0  0.767700   0.445408    5.0
3488   0.364112            0.073531  2016.0  0.922710   0.445408    5.0
3489   0.364112            0.073531  2017.0  0.767700   0.445408    5.0

      id_mileage_group  id_engine_capacity_group  fuel_type  id_kms_group  \
0             0.019654                  0.126137   0.180334      0.255059
1             0.019654                  0.126137   0.180334      0.364786
2             0.019654                  0.776698   0.180334      0.255059
3             0.019654                  0.776698   0.180334      0.255059
4             0.019654                  0.126137   0.180334      0.255059
...                ...                       ...        ...           ...
3485          1.562066                  4.127914   2.455816      0.364786
3486          0.019654                  0.776698   0.180334      0.255059
3487          0.019654                  0.126137   0.180334      0.364786
3488          0.019654                  0.126137   0.180334      0.364786
3489          0.019654                  0.126137   0.180334      0.364786

      id_max_power_group  owner_type
0               0.206644    0.150465
1               0.206644    0.620328
2               0.206644    1.365236
3               0.206644    0.150465
4               0.206644    0.620328
...                  ...         ...
3485            0.206644    0.150465
3486            0.206644    0.150465
3487            0.446040    0.150465
3488            0.206644    0.150465
3489            0.206644    0.620328

[3490 rows x 12 columns]
Data type by column:
body_type                   float64
id_categoria_marca          float64
ano                         float64
city                        float64
insurance                   float64
seats                       float64
id_mileage_group            float64
id_engine_capacity_group    float64
fuel_type                   float64
id_kms_group                float64
id_max_power_group          float64
owner_type                  float64
dtype: object

In [136]:
# Contar a quantidade de NaN em cada coluna do DataFrame X
nan_count = X.isna().sum()

# Exibir a contagem de NaN por coluna
print(nan_count)

id_body_type                0
id_categoria_marca          0
ano                         0
id_city                     0
id_insurance                0
seats                       0
id_mileage_group            0
id_engine_capacity_group    0
id_fuel_type                0
id_kms_group                0
id_max_power_group          0
id_owner_type               0
dtype: int64

In [137]:
# Contar a quantidade de NaN em cada coluna do DataFrame X
nan_count = df_test.isna().sum()

# Exibir a contagem de NaN por coluna
print(nan_count)

body_type                   0
id_categoria_marca          0
ano                         0
city                        0
insurance                   0
seats                       0
id_mileage_group            0
id_engine_capacity_group    0
fuel_type                   0
id_kms_group                0
id_max_power_group          0
owner_type                  0
dtype: int64

In [138]:
# Mapeando os nomes das colunas de d_test para os correspondentes em d
mapeamento_colunas = {
    'body_type': 'id_body_type',
    'city': 'id_city',
    'insurance': 'id_insurance',
    'fuel_type': 'id_fuel_type',
    'owner_type': 'id_owner_type',
    'mileage': 'id_mileage_group',
    
}

# Renomeando as colunas em d_test
df_test.rename(columns=mapeamento_colunas, inplace=True)

In [139]:
# Check data types
print(y.dtypes)

float64

In [140]:
# Check data types
print(X.dtypes)

id_body_type                float64
id_categoria_marca          float64
ano                         float64
id_city                     float64
id_insurance                float64
seats                       float64
id_mileage_group            float64
id_engine_capacity_group    float64
id_fuel_type                float64
id_kms_group                float64
id_max_power_group          float64
id_owner_type               float64
dtype: object

In [141]:
# Check data types
print(df_test.dtypes)

id_body_type                float64
id_categoria_marca          float64
ano                         float64
id_city                     float64
id_insurance                float64
seats                       float64
id_mileage_group            float64
id_engine_capacity_group    float64
id_fuel_type                float64
id_kms_group                float64
id_max_power_group          float64
id_owner_type               float64
dtype: object

In [142]:
from sklearn import tree
clf = tree.DecisionTreeRegressor()
clf = clf.fit(X, y)
predictions=clf.predict(df_test)

In [143]:

print(len(predictions))  # Check the length of predictions

3490

In [144]:
id_series = id_column.squeeze()
df_predictions = pd.DataFrame({"ID": id_series, "prediction": predictions})

In [145]:
print(df_predictions)

        ID  prediction
0        0    5.678000
1        1    7.250000
2        2    1.200000
3        3    2.100000
4        4    5.670000
...    ...         ...
3485  3485   11.400000
3486  3486    3.963333
3487  3487    7.750000
3488  3488    4.602500
3489  3489    4.486667

[3490 rows x 2 columns]

In [146]:
# Exporte o DataFrame para um arquivo CSV
df_predictions.to_csv('treeCenario2Milage.csv', index=False)